body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  flex-grow: 1;
}

img {
  width: 100%;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.between {
  display: flex;
  justify-content: space-between;
}

.ticker {
  width: 100%;
  display: flex;
  gap: 1rem;
  transform: translateX(100%);
  animation: scroll-left 60s linear infinite;
}

.price.none {
  color: #C2C4C8;
}

.price.down {
  color: #EE5271;
}

.price.up {
  color: #42B8B8;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.chart-container {
  width: 100%;
  height: 100%;
}

.chart-container.none {
  border: 2px solid #C2C4C8;
}

.chart-container.down {
  border: 2px solid #EE5271;
}

.chart-container.up {
  border: 2px solid #42B8B8;
}

.images {
  column-count: 3;
  column-gap: 0.5rem;
}

.images * {
  margin: 0.25rem 0;
}

.images img {
  width: 100%;
  border-radius: 0.5rem;
}

@media (max-width: 1200px) {
  .images {
    column-count: 2;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.stocks {
  overflow-x: hidden;
}

.error {
  background: red;
  color: white;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full {
  width: 100%;
  height: 98%;
}

.active-drag-outline {
  outline: 2px solid red;
}

.image-upload-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.image-wrapper {
  height: 250px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-wrapper img {
  height: 100%;
  object-fit: cover;
  background-image: url(./alpha.png);
}

.image-wrapper:hover {
  z-index: 100;
  overflow: visible;
  outline: 2px solid white;
}

.image-wrapper:hover img {
  transform: scale(1.5);
  object-fit: contain;
}

.image-wrapper progress {
  z-index: 2;
}

.image-wrapper p {
  word-break: break-all;
}

.image-upload-overlay {
  background: grey;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}